[Unit]
Description=True Kilowatt Frod Checker Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/backend
Environment="PATH=/home/backend/venv/bin"
ExecStart=/home/backend/venv/bin/python check_frod_runner.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 